<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Netcell_Demo_v._4.My.MySettings.CedulasDBConnectionString1"
            connectionString="data source=C:\Netcell\DB\CedulasDB.db"
            providerName="System.Data.SQLite" />
    </connectionStrings>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
